<div class="no-questions">
  <img src="/images/no-question.svg" alt="Sem perguntas">
  <p>Nenhuma pergunta por aqui...</p>
  <p>Faça a sua pergunta e envie o <br> código da sala para outras pessoas!</p>
</div>